<!doctype html>
<html lang="cs">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Jan Přikryl"/>
    <meta name="keywords" content="Jan Přikryl">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jan Přikryl</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% load static %}
    <link href="{% static 'assets/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style_old.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'hover.css' %}" type="text/css">
</head>
<body>
{% load i18n %}
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-4">
      <a href="{% url 'index' %}" class="align-items-center me-md-auto text-dark text-decoration-none" id="header">
        <H4>Jan</H4>
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item" style="border-bottom: 2px solid #0073ff; padding-bottom: 1px;"><a href="{% url 'index' %}" class="nav-link">Portfolio</a></li>
        <li class="nav-item"><a href="{% url 'projects' %}" class="nav-link">{% trans 'projects' %}</a></li>
        <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">{% trans 'contact' %}</a></li>
      </ul>
    </header>
            <hr style="margin-top: 1px; color: gray;">
  </div>

  <div class="container" id="overview" style="padding-left: 15px;">
      <div class="row" style="padding-top: 5px;">
          <div class="col-sm-8">
              <H1 style="color: #0073ff;" id="title">{% trans 'hi' %},</H1>
              <H1 id="welcome">{% trans 'my_name_is' %} Jan Přikryl</H1>
              <a href="{% url 'contact' %}" class="btn btn-outline-primary" style="margin-top: 5px;" id="contact">{% trans 'text_me' %}</a>
              <div class="row" style="bottom: 0; height: 10%; position: absolute;" id="socials">
                      <div class="col-sm-1 cards" style="margin-right: 20px; margin-left: 10px;">
                          <a href="mailto:honza.prikryl.hp@gmail.com"><img src="media/icon/013-mail.svg"></a>
                      </div>
                      <div class="col-sm-1 cards" style="margin-right: 20px;">
                          <a href="tel:+420738838972"><img src="media/icon/029-chat.svg"></a>
                      </div>
                      <div class="col-sm-1 cards" style="margin-right: 20px;">
                          <a href="https://github.com/janprikryl1"><img src="media/icon/icons8-github.svg"></a>
                      </div>
                      <div class="col-sm-1 cards" style="margin-right: 20px;">
                          <a href="https://www.facebook.com/jan.prikryl.73/"><img src="media/icon/1482589369.svg"></a>
                      </div>
                      <div class="col-sm-1 cards" style="margin-right: 20px;">
                          <a href="https://www.instagram.com/honzaprikryl1/"><img src="media/icon/instagram.svg"></a>
                      </div>
                      <div class="col-sm-1 cards" style="margin-right: 20px;">
                          <a href="https://www.youtube.com/channel/UCaBbMsxuzoJ7UjRtAoAcWdg"><img src="media/icon/youtube.svg"></a>
                      </div>
                      <div class="col-sm-1 cards" style="margin-right: 20px;">
                          <a href="https://www.linkedin.com/in/jan-přikryl-ba07b3207/"><img src="media/icon/1652445661linkedin-social-media-svgrepo-com.svg"></a>
                      </div>
              </div>
          </div>
          <div class="col-sm-4">
              <img id="photo" src="media/icon/img2.png" style="width: 300px; padding-top: 20px;">
          </div>
      </div>
  </div>
  <br>
  <div class="container">
      <!--About-->
      <div class="row" style="bottom: 0; height: 0px; position: absolute; margin-top: 100px;">
          <div class="col-sm-16" id="about">
              <H1>{% trans 'welcome_to_this_web' %},</H1>
                <br>
              <h3 style="padding-right:60px;">{% trans 'short_dectiption' %}.</h3>
            <hr class="featurette-divider">
            <H1 style="margin-top: 50px; margin-bottom: 20px; color: #0073ff">{% trans 'education' %}  <img id="education_arrow" class="arrow" src="media/icon/expand-arrow-icon.svg" onclick="if (!$('#education_content').is(':hidden')){$('#education_content').hide('slow');$('#education_arrow').removeClass('rotated');}else{$('#education_content').show('slow');$('#education_arrow').addClass('rotated');}"></H1>
              <div id="education_content" style="display: none;">
                    <div class="row">
                      <div class="col-sm-5">
                          <H6 style="color: #0073ff">VYSOKÁ ŠKOLA BÁŇSKÁ -</H6>
                          <H6 style="color: #0073ff">{% trans 'technical_university_of' %} OSTRAVA</H6>
                          <H7>Ostrava</H7>
                          <p>{% trans 'informatics' %}</p>
                      </div>
                      <div class="col-sm-4" style="text-align: center;">
                        <p>2022 - {% trans 'present' %}</p>
                      </div>
                      <div class="col-sm-5">
                        <H6 style="color: #0073ff">VYŠŠÍ ODBORNÁ ŠKOLA</H6>
                        <H6 style="color: #0073ff">A STŘENÍ PRŮMYSLOVÁ ŠKOLA</H6>
                        <H6 style="color: #0073ff">ELEKTROTECHNICKÁ</H6>
                        <H7>Olomouc</H7>
                        <p>{% trans 'electrotechnics' %}</p>
                      </div>
                      <div class="col-sm-4" style="text-align: center;">
                        <p>2018 - 2022</p>
                      </div>
                    </div>
                        <H6 style="color: #0073ff">ZÁKLADNÍ ŠKOLA E. VALENY</H6>
                        <H7>Prostějov</H7>
                </div>

    <hr class="featurette-divider">
            <H1 style="margin-top: 50px; margin-bottom: 20px; color: #0073ff">{% trans 'work_experiences' %} <img id="experiences_arrow" class="arrow" src="media/icon/expand-arrow-icon.svg" onclick="if (!$('#experiences_content').is(':hidden')){$('#experiences_content').hide('slow');$('#experiences_arrow').removeClass('rotated');}else{$('#experiences_content').show('slow');$('#experiences_arrow').addClass('rotated');}"></H1>
            <div id="experiences_content" style="display: none;">
                 <div class="row">
                      <div class="col-sm-5">
                          <H6 style="color: #0073ff">WERNHERD TECHNOLOGY</H6>
                          <H7>Dětkovice</H7>
                          <ul>
                              <li>{% trans 'repair_of_accumulators' %}</li>
                              <li>{% trans 'programming_applications_for' %} Android</li>
                              <li>{% trans 'programming_of_arduino' %}</li>
                          </ul>
                      </div>
                      <div class="col-sm-4" style="text-align: center;">
                        <p>2022 - {% trans 'present' %}</p>
                      </div>
                      <div class="col-sm-5">
                      <H6 style="color: #0073ff">OBEC SMRŽICE</H6>
                          <H7>Smržice</H7>
                          <ul>
                              <li>{% trans 'grass_cutting' %}</li>
                              <li>{% trans 'garden_jobs' %}</li>
                          </ul>
                      </div>
                      <div class="col-sm-4" style="text-align: center;">
                        <p>2019, 2020, 2021, 2022</p>
                      </div>
                 </div>
                <div class="row">
                    <div class="col-sm-5">
                      <H6 style="color: #0073ff">ARBOEKO</H6>
                          <H7>Smržice</H7>
                          <ul>
                              <li>{% trans 'garden_jobs' %}</li>
                          </ul>
                      </div>
                      <div class="col-sm-4" style="text-align: center;">
                        <p>2018</p>
                      </div>
                </div>
            </div>
      </div>
    <hr class="featurette-divider">
<div class="col-sm-16" id="skills" style="margin-top: 50px; margin-bottom: 20px;">
    <H1 style="color: #0073ff;">{% trans 'skills' %} <img id="skills_arrow" class="arrow" src="media/icon/expand-arrow-icon.svg" onclick="if (!$('#skills_content').is(':hidden')){$('#skills_content').hide('slow');$('#skills_arrow').removeClass('rotated');}else{$('#skills_content').show('slow');$('#skills_arrow').addClass('rotated');}"></H1>
    <div id="skills_content" style="display: none;">
    <p>{% trans 'languages' %}, {% trans 'libraries' %}, {% trans 'technologies' %}, {% trans 'others' %}</p>
    <div class="container">
        <div class="row" style="padding-bottom: 50px;">
          <div class="col-sm-2">
            <div class="list-group" id="list-tab" role="tablist">
              <a class="list-group-item list-group-item-action active" data-toggle="list" href="#list-python" role="tab" aria-controls="home">Python</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-web" role="tab" aria-controls="profile">{% trans 'webs' %}</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-android" role="tab" aria-controls="messages">Android</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-mcu" role="tab" aria-controls="messages">{% trans 'electro' %}</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#list-others" role="tab" aria-controls="settings">{% trans 'others' %}</a>
            </div>
          </div>
          <div class="col-sm-8" style="width: 70%;">
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="list-python" role="tabpanel" aria-labelledby="list-home-list">
                  {% trans 'my' %} {% trans 'most_favourite' %} {% trans 'languages' %} 😂<ul>
                      <li>Django</li>
                      <li>Flask</li>
                      <li>PyQt</li>
                      <li>Tkinter</li>
                      <li>Kivi</li>
                      <li>OpenCV</li>
                  </ul>
              </div>
              <div class="tab-pane fade" id="list-web" role="tabpanel" aria-labelledby="list-profile-list">
                  <ul>
                      <li>Python (Django, flask)</li>
                      <li>Javascript (jQuery)</li>
                      <li>CSS (Bootstrap)</li>
                      <li>SQL databáze</li>
                  </ul>
              </div>
              <div class="tab-pane fade" id="list-android" role="tabpanel" aria-labelledby="list-messages-list">{% trans 'application_development' %} ({% trans 'most' %} Java).</div>
              <div class="tab-pane fade" id="list-mcu" role="tabpanel" aria-labelledby="list-messages-list">Raspberry PI, Arduino, STM, ...</div>
              <div class="tab-pane fade" id="list-others" role="tabpanel" aria-labelledby="list-settings-list">
                  <ul>
                      <li>Microsoft Office</li>
                      <li>Linux <i>{% trans 'i_use' %} Ubuntu</i></li>
                      <li>Git</li>
                      <li>{% trans 'photo_editing_in_gimp' %}</li>
                      <li>{% trans 'video_editing_in_hitfilm' %}</li>
                  </ul>
                  </div>
            </div>
          </div>
        </div>
       </div>
      </div>
     </div>
          <footer class="container" style="padding-bottom: 20px;">
            <p class="float-end"><a href="#">{% trans 'up' %}</a></p>
            <p>Jan Přikryl, 2023</p>

            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'cs' %}
                <a class="btn btn-outline-primary" href="/en{{ request.get_full_path|slice:'3:' }}" role="button">{% trans "English" %}</a>
            {% else %}
                <a class="btn btn-outline-primary" href="/cs{{ request.get_full_path|slice:'3:' }}" role="button">{% trans "Czech" %}</a>
            {% endif %}
          </footer>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js" integrity="sha256-fIkQKQryItPqpaWZbtwG25Jp2p5ujqo/NwJrfqAB+Qk=" crossorigin="anonymous"></script>
        <script>
            const fotka = document.querySelector('#photo');
            const kontakt = document.querySelector('#contact');
            const title = document.querySelector('#title');
            const welcome = document.querySelector('#welcome');
            const socials = document.querySelector('#socials');

            const tl = new TimelineMax();

            tl.fromTo(title, 1, {opacity:0, y:"200"}, {opacity:1, y:"0", ease:Power2.easeInOut})
            .fromTo(welcome, 1, {opacity:0, y:"200"},  {opacity:1, y:"0", ease:Power2.easeInOut})
            .fromTo(kontakt, 1, {opacity:0, y:"200"}, {opacity:1, y:"0", ease:Power2.easeInOut})
            .fromTo(fotka, 1, {opacity:0, y:"200"}, {opacity:1, y:"0", ease:Power2.easeInOut})
            .fromTo(socials, 1, {opacity:0, y:"200"}, {opacity:1, y:"0", ease:Power2.easeInOut});

            $('#list-tab a').on('click', function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            function on_resize() {
                if ($(this).width() < 575) {
                    $('.cards').hide();
                } else {
                    $('.cards').show();
                }
                if ($(this).width() < 400 || $(this).height() < 350) {
                    $('#about').css({"margin-top":"200px"});
                    $('#header').hide();
                    $('#socials').hide();
                }
            }
            on_resize();
            $(window).resize(function() {
                on_resize();
            });
  </script>

</body>
</html>